<% let pageId='protogetic' ; %>

  <%- include('../common/_header', {pageId:pageId }) %>

    <% console.log(jsonData) %>
      <main id="js-protogetic" class="l-single-works p-single-works p-single-works--projects" data-barba="container"
        data-barba-namespace="single" data-bg="#FFFFFF">
        <div class="l-container l-container--small">
          <picture class="p-single-works__mockup p-single-works__mockup--sp " data-scroll data-scroll-speed="-1"
            data-scroll-delay="0.1" data-scroll-direction="vertical">
            <img src="/img/common/main-protogetic.png" class="p-single-works__mockup-img p-single-works__img--proj"
              alt="main-protogetic" width="70" height="141" decoding="async" />
          </picture>

          <div class="p-single-works--main">
            <div class="p-single-works__wrap" style="transform: translate(0px, 0px)" loading="lazy" ;>
              <div class="p-single-works__intro">
                <div class="p-single-works__project--head">
                  <h2 class="p-single-works__name">Protogetic</h2>
                  <p class="p-single-works__description">Amity provides remote control of stoves in living facilities
                    for elderly
                    <br /> and disabled individuals.
                  </p>


                </div>
                <div class="p-single-works__project--foot">
                  <div class="project-timeline">
                    <div class="p-single-works__title">Project Timeline</div>
                    <div class="p-single-works__subtitlle">Jan 2019 - Mar 2023</div>
                  </div>
                  <div class="p-single-works__main-column">
                    <div>
                      <div class="p-single-works__title">My Role</div>
                      <div class="p-single-works__subtitlle">Ui Design, project support</div>
                    </div>
                    <div>
                      <div class="p-single-works__title">Client</div>
                      <div class="p-single-works__subtitlle">Protogetic</div>
                    </div>
                    <div>
                      <div class="p-single-works__title">Country</div>
                      <div class="p-single-works__subtitlle">USA
                        🇺🇸</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <section class="p-single-works__general">
              <div class="p-single-works__context wrapper">
                <div class="p-work-owerview__sidebar-menu sidebar" data-animation="default" data-duration="400"
                  data-easing="ease" role="banner" data-scroll data-scroll-sticky data-scroll-target="#main-content">
                  <div class="p-work-owerview__nav">
                    <div class="p-work-owerview__nav-item ">
                      <img src="../../img/svg/occ/01.svg" alt="nav-icon" loading="lazy" class="nav-icon">
                      <a class="p-work-owerview__item p--current" href="#project-overview">Project Overview</a>
                    </div>
                    <div class="p-work-owerview__nav-item">
                      <img src="../../img/svg/occ/02.svg" alt="nav-icon" loading="lazy" class="nav-icon">
                      <a class="p-work-owerview__item" href="#the-challenge">The Challenge</a>
                    </div>
                    <div class="p-work-owerview__nav-item">
                      <img src="../../img/svg/occ/03.svg" alt="nav-icon" loading="lazy" class="nav-icon">
                      <a class="p-work-owerview__item" href="#the-solution">The Solution</a>
                    </div>
                    <div class="p-work-owerview__nav-item">
                      <img src="../../img/svg/occ/04.svg" alt="nav-icon" loading="lazy" class="nav-icon">
                      <a class="p-work-owerview__item" href="#my-role">My Role</a>
                    </div>
                    <div class="p-work-owerview__nav-item">
                      <img src="../../img/svg/occ/05.svg" alt="nav-icon" loading="lazy" class="nav-icon">
                      <a class="p-work-owerview__item" href="#the-process">The Process</a>
                    </div>
                    <div class="p-work-owerview__nav-item">
                      <img src="../../img/svg/occ/15.svg" alt="nav-icon" loading="lazy" class="nav-icon">
                      <a class="p-work-owerview__item" href="#visual-design">Visual Design</a>
                    </div>
                    <div class="p-work-owerview__nav-item">
                      <img src="../../img/svg/occ/17.svg" alt="nav-icon" loading="lazy" class="nav-icon">
                      <a class="p-work-owerview__item" href="#results-and-takeaways">Results and Takeaways</a>
                    </div>
                  </div>
                </div>



                <div class="p-overview__nav-sections content" id="main-content" data-scroll-container>
                  <div id="project-overview">
                    <div class="p-work-overview__container">
                      <h3 class="p-work-overview--protogetic p-work-overview__title" id="project-overview">Project
                        Overview
                      </h3>
                      <div class="p-work-overview__description">The Protogetic is a portal with a Physical Security
                        Products catalog, created for vendors and buyers. The goal of system
                        to be: a central hub for all stakeholders (owners, architects, engineers, contractors,
                        consultants, and vendors) who
                        participate in the security building and infrastructure construction industries
                      </div>
                      <img src="../../img/common/protogetic-01.png" alt="p-work-overview-image"
                        class="p-work-overview__image">
                    </div>
                  </div>
                  <div id="the-challenge">
                    <div class="p-work-overview__container">
                      <h3 class="p-work-overview--protogetic p-work-overview__title" id="the-challenge">The Challenge
                      </h3>
                      <div class="p-work-overview__description">The challenge in the design stage of Protogetic was to
                        create a user-friendly platform for vendors and admins with clear
                        data visualization and an intuitive Protogetic Filter. This filter had to reduce the time spent
                        searching for important
                        information, such as safety ratings, certifications, and detailed specifications, from hours to
                        just a few seconds.
                        Additionally, the platform had to cater to the diverse needs of all stakeholders in the security
                        building and
                        infrastructure construction industries by providing a central hub that is easy to navigate and
                        access for all users,
                        regardless of their technical proficiency or industry experience.
                      </div>
                    </div>
                  </div>
                  <div id="the-solution">
                    <div class="p-work-overview__container">
                      <h3 class="p-work-overview--protogetic p-work-overview__title" id="the-solution">The Solution</h3>
                      <div class="p-work-overview__description">The design stage of Protogetic aimed to create a
                        user-friendly platform for vendors and admins in the security
                        construction industry. A user-centered approach was taken, with a focus on interaction design,
                        information architecture,
                        and a flexible design system. Interactive prototypes were created for testing and improvement,
                        and simple dashboards and
                        admin systems were developed for ease of use. The result was a central hub with clear data
                        visualization and an
                        intuitive filter system.
                      </div>
                      <img src="../../img/common/protogetic-02.png" alt="p-work-overview-image"
                        class="p-work-overview__image">
                    </div>
                  </div>
                  <div id="my-role">
                    <div class="p-work-overview__container">
                      <h3 class="p-work-overview--protogetic p-work-overview__title" id="my-role">My role in the
                        project</h3>
                      <div class="p-work-overview__description">
                        I was responsible for designing the Amity platform from the ground up. I led the specification
                        discovery process,
                        analyzed user flows, and created the information architecture to ensure the platform met the
                        needs of all stakeholders.
                        I designed wireframes and the visual user interface (UI), focusing on usability and user
                        experience to create an
                        intuitive and easy-to-use solution. Throughout the project, I worked closely with the
                        development team to ensure the
                        platform was built according to the design specifications and met the requirements of the
                        client. My attention to detail
                        and dedication to creating a high-quality product resulted in a platform that effectively
                        balances safety, convenience,
                        and independence for all users.
                      </div>
                    </div>
                  </div>
                  <div id="the-process">
                    <div class="p-work-overview__container">
                      <h3 class="p-work-overview--protogetic p-work-overview__title" id="the-process">The Process </h3>
                      <div class="p-work-overview__description">
                        <img src="../../img/common/protogetic-03.png" alt="p-work-overview-image"
                          class="p-work-overview__image">
                      </div>
                    </div>
                  </div>

                  <div id="visual-design">
                    <div class="p-work-overview__container">
                      <p class="p-work-overview__hat">Visual Design</p>
                      <h3 class="p-work-overview--protogetic p-work-overview__title" id="visual-design">CATALOGUE
                      </h3>
                      <div class="p-work-overview__description">
                        The design is intuitive, allowing users to easily navigate through the different categories and
                        subcategories of
                        security products. The clear data visualization and detailed product specifications help users
                        quickly find the
                        information they need to make informed decisions. The catalog page is designed to be both
                        functional and aesthetically
                        pleasing, providing a positive user experience for all stakeholders in the security construction
                        industry.
                      </div>
                      <img src="../../img/common/protogetic-04.png" alt="p-work-overview-image"
                        class="p-work-overview__image">
                    </div>
                    <div class="p-work-overview__container">
                      <h3 class="p-work-overview--protogetic p-work-overview__title">MY ACCOUNT
                      </h3>
                      <div class="p-work-overview__description">
                        <img src="../../img/common/protogetic-05.png" alt="p-work-overview-image"
                          class="p-work-overview__image">
                      </div>
                    </div>
                    <div class="p-work-overview__container">
                      <p class="p-work-overview__hat">Visual Design</p>
                      <h3 class="p-work-overview--protogetic p-work-overview__title">RESPONSIVE VERSION
                      </h3>
                      <div class="p-work-overview__description">
                        Our team implemented a responsive design solution for the Protogetic platform, ensuring
                        optimal
                        viewing experiences on
                        all devices, from desktop computers to smartphones. The responsive design enhances the user
                        experience and makes the
                        platform more accessible, helping to attract and retain more users. This solution provides
                        greater flexibility and
                        allows users to access the platform anytime, anywhere, further supporting their needs and
                        requirements.
                      </div>
                      <img src="../../img/common/protogetic-06.png" alt="p-work-overview-image"
                        class="p-work-overview__image">
                    </div>
                  </div>
                  <div id="results-and-takeaways">
                    <div class="p-work-overview__container">
                      <h3 class="p-work-overview--protogetic p-work-overview__title" id="results-and-takeaways">Results
                        and
                        takeaways</h3>
                      <div class="p-work-overview__description">
                        <h4>Results:</h4>
                        <div class="p-work-overview__description">
                          <ul class="p-work-overview__description--protogetic">
                            <li>A comprehensive and user-friendly platform was created for vendors and admins in the
                              security construction
                              industry</li>
                            <li>The platform meets the diverse needs of all stakeholders and provides a central hub for
                              easy navigation and access
                            </li>
                            <li>The platform features clear data visualization and an intuitive filter system that
                              reduces time spent searching
                              for information</li>
                            <li>The platform includes simple and straightforward dashboards and admin systems for
                              managing and monitoring products
                              and services</li>
                            <li>The platform is scalable and flexible, with a consistent visual language and user
                              interface components that can be
                              adapted and updated as needed</li>
                          </ul>
                        </div>
                        <h4>Takeaways:</h4>
                        <div class="p-work-overview__description">
                          <ul class="p-work-overview__description--protogetic">
                            <li>User-centered design is essential for creating a platform that meets the needs and
                              expectations of all
                              stakeholders</li>
                            <li>Incorporating interactive prototypes in the design process allows for quick and
                              iterative testing and improvement
                            </li>
                            <li>Simple and intuitive dashboards and admin systems enhance the user experience and ease
                              of use</li>
                            <li>A scalable and flexible design system accommodates future growth and changes in the
                              industry.</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>


            <%# 制作実績導線 %>
              <div class="p-works-connect" style="transform: translate(0px, 0px);">
                <a href="/kamsa/" class="p-works-connect__link">
                  <picture class="p-works-connect__bg">
                    <source srcset="/img/common/thumbnail-kamsa.png" type="image/png" />
                    <img src="/img/common/thumbnail-kamsa.png" width="770" height="781" alt="Kamsa" loading="lazy">
                  </picture>
                  <p class="p-works-connect__text-wrapper">
                    <span class="p-works-connect__text" data-text="Kamsa">
                      Prev
                    </span>
                  </p>
                </a>
                <a href="/occ/" class="p-works-connect__link">
                  <picture class="p-works-connect__bg">
                    <source srcset="/img/common/thumbnail-occ.png" type="image/png" />
                    <img src="/img/common/thumbnail-occ.png" width="770" height="781" alt="OCC" loading="lazy">
                  </picture>
                  <p class="p-works-connect__text-wrapper">
                    <span class="p-works-connect__text" data-text="OCC">
                      Next
                    </span>
                  </p>
                </a>
              </div>
              <%# / 制作実績導線 %>

      </main>

      <%- include('../common/_footer', {pageId:pageId }) %>