<% let pageId='sonum' ; %>

  <%- include('../common/_header', {pageId:pageId }) %>

    <% console.log(jsonData) %>
      <main id="js-sonum" class="l-single-works p-single-works p-single-works--projects" data-barba="container"
        data-barba-namespace="single" data-bg="#FFFFFF">


        <picture class="p-single-works__mockup p-single-works__mockup--sp " data-scroll data-scroll-speed="-1"
          data-scroll-delay="0.1" data-scroll-direction="vertical">
          <img src="/img/common/main-sonum.png" class="p-single-works__mockup-img p-single-works__img--proj"
            alt="main-sonum" width="70" height="141" decoding="async" />
        </picture>

        <div class="p-single-works--main">
          <div class="p-single-works__wrap" style="transform: translate(0px, 0px)" loading="lazy" ;>
            <div class="p-single-works__intro">
              <div class="p-single-works__project--head">
                <h2 class="p-single-works__name">Sonum</h2>
                <p class="p-single-works__description">The first-ever application to verify address specific enforced
                  <br />
                  roofing codes.
                </p>


              </div>
              <div class="p-single-works__project--foot">
                <div class="project-timeline">
                  <div class="p-single-works__title">Project Timeline</div>
                  <div class="p-single-works__subtitlle">Apr 2023 - Jul 2023</div>
                </div>
                <div class="p-single-works__main-column">
                  <div>
                    <div class="p-single-works__title">My Role</div>
                    <div class="p-single-works__subtitlle">Ui/Ux
                      Design</div>
                  </div>
                  <div>
                    <div class="p-single-works__title">Client</div>
                    <div class="p-single-works__subtitlle">Sonum</div>
                  </div>
                  <div>
                    <div class="p-single-works__title">Website URL</div>
                    <div class="p-single-works__subtitlle">
                      <a target="_blank" href="https://www.sonum.io/" rel="noopener noreferrer">sonum.io/</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <section class="p-single-works__general">
            <div class="p-single-works__context wrapper">
              <div class="p-work-owerview__sidebar-menu sidebar" data-animation="default" data-duration="400"
                data-easing="ease" role="banner" data-scroll data-scroll-sticky data-scroll-target="#main-content">
                <div class="p-work-owerview__nav">
                  <div class="p-work-owerview__nav-item">
                    <img src="../../img/svg/occ/01.svg" alt="nav-icon" loading="lazy" class="nav-icon">
                    <a class="p-work-owerview__item" href="#project-overview">Project Overview</a>
                  </div>
                  <div class="p-work-owerview__nav-item">
                    <img src="../../img/svg/occ/02.svg" alt="nav-icon" loading="lazy" class="nav-icon">
                    <a class="p-work-owerview__item" href="#the-challenge">The Challenge</a>
                  </div>
                  <div class="p-work-owerview__nav-item">
                    <img src="../../img/svg/occ/03.svg" alt="nav-icon" loading="lazy" class="nav-icon">
                    <a class="p-work-owerview__item" href="#the-solution">The Solution</a>
                  </div>
                  <div class="p-work-owerview__nav-item">
                    <img src="../../img/svg/occ/04.svg" alt="nav-icon" loading="lazy" class="nav-icon">
                    <a class="p-work-owerview__item" href="#my-role">My Role</a>
                  </div>
                  <div class="p-work-owerview__nav-item">
                    <img src="../../img/svg/occ/05.svg" alt="nav-icon" loading="lazy" class="nav-icon">
                    <a class="p-work-owerview__item" href="#the-process">The Process</a>
                  </div>
                  <div class="p-work-owerview__nav-item">
                    <img src="../../img/svg/occ/11.svg" alt="nav-icon" loading="lazy" class="nav-icon">
                    <a class="p-work-owerview__item" href="#information-architecture">Information Architecture
                    </a>
                  </div>
                  <div class="p-work-owerview__nav-item">
                    <img src="../../img/svg/occ/12.svg" alt="nav-icon" loading="lazy" class="nav-icon">
                    <a class="p-work-owerview__item" href="#user-flows">User Flows</a>
                  </div>
                  <div class="p-work-owerview__nav-item">
                    <img src="../../img/svg/occ/14.svg" alt="nav-icon" loading="lazy" class="nav-icon">
                    <a class="p-work-owerview__item" href="#wireframes">Wireframes</a>
                  </div>
                  <div class="p-work-owerview__nav-item">
                    <img src="../../img/svg/occ/15.svg" alt="nav-icon" loading="lazy" class="nav-icon">
                    <a class="p-work-owerview__item" href="#visual-design">Visual Design</a>
                  </div>
                  <div class="p-work-owerview__nav-item">
                    <img src="../../img/svg/occ/17.svg" alt="nav-icon" loading="lazy" class="nav-icon">
                    <a class="p-work-owerview__item" href="#results-and-takeaways">Results and Takeaways</a>
                  </div>
                </div>
              </div>





              <div class="p-overview__nav-sections content" id="main-content" data-scroll-container
                data-scroll-speed="-1" style="transform: translate(0px, 0px)">
                <div id="project-overview">
                  <div class="p-work-overview__container style=" transform: translate(0px, 0px)" ">
                    <h3 class=" p-work-overview--occ p-work-overview__title" id="project-overview">Project Overview
                    </h3>
                    <div class="p-work-overview__description">Sonum is a music streaming service that puts the social
                      aspect in the spotlight. Whereas Twitter, Facebook & Co are
                      about sharing more than ever - music streaming is heading in the opposite direction: a simple
                      exchange between person &
                      algorithm.
                    </div>
                    <img src="../../img/common/sonum-01.png" alt="p-work-overview-image" class="p-work-overview__image"
                      style="width: 80%" data-scroll data-scroll-speed="0.7" data-scroll-direction="horizontal">
                  </div>
                </div>
                <div id="the-challenge">
                  <div class="p-work-overview__container style=" transform: translate(0px, 0px)"">
                    <h3 class="p-work-overview--occ p-work-overview__title" id="the-challenge">The Challenge</h3>
                    <div class="p-work-overview__description"> The challenge of redesigning Sonum, a music streaming
                      service, was to create a platform that emphasizes the social
                      aspect of music sharing. While social media platforms like Twitter and Facebook focus on sharing
                      various types of
                      content, music streaming services often lack the social interaction between users and instead rely
                      heavily on
                      algorithms.
                    </div>
                  </div>
                </div>
                <div id="the-solution">
                  <div class="p-work-overview__container">
                    <h3 class="p-work-overview--occ p-work-overview__title" id="the-solution">The Solution</h3>
                    <div class="p-work-overview__description">Our solution involved stakeholder interviews to gather
                      insights, followed by information architecture, wireframing, and
                      visual design. We developed a design system for consistency and delivered a user-friendly,
                      visually appealing product
                      that met stakeholder goals.
                    </div>
                    <img src="../../img/common/sonum-02.png" alt="p-work-overview-image" class="img_sonum-02"
                      class="p-work-overview__image">
                  </div>
                </div>
                <div id="my-role">
                  <div class="p-work-overview__container" style="transform: translate(0px, 0px)">
                    <h3 class="p-work-overview--occ p-work-overview__title" id="my-role">My role in the project</h3>
                    <div class="p-work-overview__description">
                      As a key member of the Sonum project team, my primary responsibility revolved around UX research
                      and design. Throughout
                      the project, I closely collaborated with the business analyst and development team at OneClick
                      Code (OCC) to establish
                      intuitive user flows for the team invitation and acceptance feature. I took charge of creating
                      wireframes and designing
                      the UI for the native and web app, as well as the mobile web app. Additionally, I played a vital
                      role in conducting
                      various research activities, which included:
                      <ul style="margin-top: 32px;">
                        <li>Stakeholder interview</li>
                        <li>Information architecture</li>
                        <li>Wireframes</li>
                        <li>Visual Design</li>
                        <li>Design system</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div id="the-process">
                  <div class="p-work-overview__container" style="transform: translate(0px, 0px)">
                    <h3 class="p-work-overview--occ p-work-overview__title" id="the-process">The Process</h3>
                    <div class="p-work-overview__description">
                      <img src="../../img/common/sonum-03.png" alt="p-work-overview-image"
                        class="p-work-overview__image" style="width: 80%">
                    </div>
                  </div>
                </div>
                <div id="information-architecture">
                  <div class="p-work-overview__container" style="transform: translate(0px, 0px)">
                    <p class="p-work-overview__hat">Idiate</p>
                    <h3 class="p-work-overview--occ p-work-overview__title" id="information-architecture">
                      Information Architecture</h3>
                    <div class="p-work-overview__description">In the Sonum project, our team focused on creating a clear
                      and intuitive Information Architecture (IA). Through thorough
                      analysis, we identified key elements and organized them to enable easy navigation and access to
                      information for users.
                      The goal was to optimize the user experience within the Sonum app.
                    </div>
                    <img src="../../img/common/sonum-04.png" alt="p-work-overview-image" class="--img">


                  </div>
                </div>
                <div id="wireframes">
                  <div class="p-work-overview__container" style="transform: translate(0px, 0px)">
                    <h3 class="p-work-overview--occ p-work-overview__title" id="wireframes">Wireframes</h3>
                    <!-- <img src="../../img/common/sonum-05.png" alt="p-work-overview-image" class="--img"> -->
                    <iframe
                      src="https://player.vimeo.com/video/874895536?autopause=0&autoplay=1&loop=1&title=0&muted=1&byline=0&portrait=0"
                      width="1200" height="700" frameborder="0" allowfullscreen controls="0"
                      webkitAllowFullScreen></iframe>
                  </div>
                </div>
                <div id="visual-design">
                  <div class="p-work-overview__container" style="transform: translate(0px, 0px)">
                    <h3 class="p-work-overview--occ p-work-overview__title" id="visual-design">Visual Design</h3>
                    <div class="p-work-visual-design-pictures">
                      <img src="../../img/common/sonum-06.png" alt="p-work-overview-image" class="--img">
                      <img src="../../img/common/sonum-07.png" alt="p-work-overview-image" class="--img">
                      <img src="../../img/common/sonum-08.png" alt="p-work-overview-image" class="--img">
                      <img src="../../img/common/sonum-09.png" alt="p-work-overview-image" class="--img">
                      <img src="../../img/common/sonum-10.png" alt="p-work-overview-image" class="--img">
                      <div class="p-work-sonum-video">
                        <img src="../../img/common/sonum-11.png" alt="p-work-overview-image" class="--img">
                        <iframe
                          src="https://player.vimeo.com/video/874896962?autopause=0&autoplay=1&loop=1&title=0&muted=1&byline=0&portrait=0"
                          width="1200" height="700" frameborder="0" allowfullscreen></iframe>
                      </div>
                      <img src="../../img/common/sonum-12.png" alt="p-work-overview-image" class="--img">
                      <img src="../../img/common/sonum-13.png" alt="p-work-overview-image" class="--img">
                    </div>

                  </div>
                </div>
                <div id="results-and-takeaways">
                  <div class="p-work-overview__container" style="transform: translate(0px, 0px)">
                    <h3 class="p-work-overview--occ p-work-overview__title" id="results-and-takeaways">Results and
                      takeaways</h3>
                    <div class="p-work-overview__description">The Sonum project yielded remarkable results, culminating
                      in the successful launch of the platform's MVP version. Our
                      team's diligent efforts brought the client's vision to reality, resulting in a functional and
                      user-friendly music
                      streaming platform. Sonum now offers robust features and capabilities that meet the needs of its
                      users, providing a
                      seamless and enjoyable music experience.</div>

                    <div class="p-work-overview__description">A key takeaway from this project is the significance of
                      collaboration and open communication with
                      the client. By
                      actively involving the client throughout the design process and incorporating their feedback, we
                      were able to deliver a
                      product that exceeded their expectations. Additionally, our user-centered design approach proved
                      critical in ensuring
                      the platform's success, as we prioritized the needs and preferences of the users.</div>

                    <div class="p-work-overview__description">In conclusion, the Sonum project stands as a testament to
                      the power of teamwork and user-centered
                      design. The platform
                      is now live and making a positive impact on music enthusiasts, fostering a vibrant and engaging
                      music community. We take
                      great pride in our contribution to this project and look forward to witnessing Sonum's continued
                      growth and success in
                      the future.

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>


          <%# 制作実績導線 %>
            <div class="p-works-connect" style="transform: translate(0px, 0px);">

              <a href="/occ/" class="p-works-connect__link">
                <picture class="p-works-connect__bg">
                  <source srcset="/img/common/thumbnail-occ.png" type="image/png" />
                  <img src="/img/common/thumbnail-occ.png" width="770" height="781" alt="Occ" loading="lazy">
                </picture>
                <p class="p-works-connect__text-wrapper">
                  <span class="p-works-connect__text" data-text="Occ">
                    Next
                  </span>
                </p>
              </a>
              <a href="/amity/" class="p-works-connect__link">
                <picture class="p-works-connect__bg">
                  <source srcset="/img/common/thumbnail-amity.png" type="image/png" />
                  <img src="/img/common/thumbnail-amity.png" width="770" height="781" alt="Amity" loading="lazy">
                </picture>
                <p class="p-works-connect__text-wrapper">
                  <span class="p-works-connect__text" data-text="Amity">
                    Next
                  </span>
                </p>
              </a>
            </div>
        </div>
        <%# / 制作実績導線 %>
      </main>



      <%- include('../common/_footer', {pageId:pageId }) %>