@use "foundation/global";

// Animation スライドアップ
//--------------------------------------------------------------------------

//wrapper style (parent element)
.is-wrap {
  display: block;
  overflow: hidden;
}

// child element
.is-slide-up {
  display: inline-block;
  transform: translateY(120%);
  transition: transform 1.7s global.ease(out-expo);
}

// after trigger ignition
.is-inview {
  .is-slide-up {
    transform: translateY(0);
  }
}