<% let pageId='occ' ; %>

  <%- include('../common/_header', {pageId:pageId }) %>

    <% console.log(jsonData) %>
      <main id="js-occ" class="l-single-works p-single-works p-single-works--projects" data-barba="container"
        data-barba-namespace="single" data-bg="#FFFFFF">



        <picture class="p-single-works__mockup p-single-works__mockup--sp " data-scroll data-scroll-speed="-1"
          data-scroll-delay="0.1" data-scroll-direction="vertical">
          <img src="/img/common/main-occ.png" class="p-single-works__mockup-img p-single-works__img--proj"
            alt="main-occ" width="70" height="141" decoding="async" />
        </picture>

        <div class="p-single-works--main">
          <div class="p-single-works__wrap" style="transform: translate(0px, 0px)" loading="lazy" ;>
            <div class="p-single-works__intro">
              <div class="p-single-works__project--head">
                <h2 class="p-single-works__name">OCC</h2>
                <p class="p-single-works__description">The first-ever application to verify address specific
                  enforced
                  <br />
                  roofing codes.
                </p>


              </div>
              <div class="p-single-works__project--foot">
                <div class="project-timeline">
                  <div class="p-single-works__title">Project Timeline</div>
                  <div class="p-single-works__subtitlle">Oct
                    2021 - Jan 2023</div>
                </div>
                <div class="p-single-works__main-column">
                  <div>
                    <div class="p-single-works__title">My Role</div>
                    <div class="p-single-works__subtitlle">Ui/Ux
                      Design, UX Research</div>
                  </div>
                  <div>
                    <div class="p-single-works__title">Client</div>
                    <div class="p-single-works__subtitlle">One
                      Click
                      Code</div>
                  </div>
                  <div>
                    <div class="p-single-works__title">Country</div>
                    <div class="p-single-works__subtitlle">USA
                      🇺🇸</div>
                  </div>
                </div>
              </div>
            </div>
          </div>



          <section class="p-single-works__general">
            <div class="p-single-works__context wrapper">

              <div class="p-work-owerview__sidebar-menu sidebar" data-animation="default" data-duration="400"
                data-easing="ease" role="banner" data-scroll data-scroll-sticky data-scroll-target="#main-content">
                <div class="p-work-owerview__nav">
                  <div class="p-work-owerview__nav-item ">
                    <img src="../../img/svg/occ/01.svg" alt="nav-icon" loading="lazy" class="nav-icon">
                    <a class="p-work-owerview__item" href="#project-overview">Project Overview</a>
                  </div>
                  <div class="p-work-owerview__nav-item">
                    <img src="../../img/svg/occ/02.svg" alt="nav-icon" loading="lazy" class="nav-icon">
                    <a class="p-work-owerview__item" href="#the-challenge">The Challenge</a>
                  </div>
                  <div class="p-work-owerview__nav-item">
                    <img src="../../img/svg/occ/03.svg" alt="nav-icon" loading="lazy" class="nav-icon">
                    <a class="p-work-owerview__item" href="#the-solution">The Solution</a>
                  </div>
                  <div class="p-work-owerview__nav-item">
                    <img src="../../img/svg/occ/04.svg" alt="nav-icon" loading="lazy" class="nav-icon">
                    <a class="p-work-owerview__item" href="#my-role">My Role</a>
                  </div>
                  <div class="p-work-owerview__nav-item">
                    <img src="../../img/svg/occ/05.svg" alt="nav-icon" loading="lazy" class="nav-icon">
                    <a class="p-work-owerview__item" href="#the-process">The Process</a>
                  </div>
                  <div class="p-work-owerview__nav-item">
                    <img src="../../img/svg/occ/08.svg" alt="nav-icon" loading="lazy" class="nav-icon">
                    <a class="p-work-owerview__item" href="#stakeholder-interview">Stakeholder Interview</a>
                  </div>
                  <div class="p-work-owerview__nav-item">
                    <img src="../../img/svg/occ/07.svg" alt="nav-icon" loading="lazy" class="nav-icon">
                    <a class="p-work-owerview__item" href="#user-research">User Research</a>
                  </div>
                  <div class="p-work-owerview__nav-item">
                    <img src="../../img/svg/occ/09.svg" alt="nav-icon" loading="lazy" class="nav-icon">
                    <a class="p-work-owerview__item" href="#personas">Personas</a>
                  </div>
                  <div class="p-work-owerview__nav-item">
                    <img src="../../img/svg/occ/10.svg" alt="nav-icon" loading="lazy" class="nav-icon">
                    <a class="p-work-owerview__item" href="#customer-journey-map">Customer Journey Map</a>
                  </div>
                  <div class="p-work-owerview__nav-item">
                    <img src="../../img/svg/occ/11.svg" alt="nav-icon" loading="lazy" class="nav-icon">
                    <a class="p-work-owerview__item" href="#information-architecture">Information Architecture
                    </a>
                  </div>
                  <div class="p-work-owerview__nav-item">
                    <img src="../../img/svg/occ/12.svg" alt="nav-icon" loading="lazy" class="nav-icon">
                    <a class="p-work-owerview__item" href="#user-flows">User Flows</a>
                  </div>
                  <div class="p-work-owerview__nav-item">
                    <img src="../../img/svg/occ/14.svg" alt="nav-icon" loading="lazy" class="nav-icon">
                    <a class="p-work-owerview__item" href="#wireframes">Wireframes</a>
                  </div>
                  <div class="p-work-owerview__nav-item">
                    <img src="../../img/svg/occ/15.svg" alt="nav-icon" loading="lazy" class="nav-icon">
                    <a class="p-work-owerview__item" href="#visual-design">Visual Design</a>
                  </div>
                  <div class="p-work-owerview__nav-item">
                    <img src="../../img/svg/occ/17.svg" alt="nav-icon" loading="lazy" class="nav-icon">
                    <a class="p-work-owerview__item" href="#results-and-takeaways">Results and Takeaways</a>
                  </div>
                </div>
              </div>





              <div class="p-overview__nav-sections content" id="main-content" data-scroll-container
                data-scroll-speed="-1">
                <div id="project-overview">
                  <div class="p-work-overview__container">
                    <h3 class="p-work-overview--occ p-work-overview__title" id="project-overview">Project Overview
                    </h3>
                    <div class="p-work-overview__description">OneClick Code is a platform that simplifies the
                      process of obtaining roofing code reports for specific addresses. OCC
                      provide access to information on roofing codes, sales tax, manufacturer specifications,
                      permit fees, and jurisdictional
                      authority in one convenient location.
                    </div>
                    <img src="../../img/common/occ-01.png" alt="p-work-overview-image" class="p-work-overview__image"
                      style="width: 80%">
                  </div>
                </div>
                <div id="the-challenge">
                  <div class="p-work-overview__container">
                    <h3 class="p-work-overview--occ p-work-overview__title" id="the-challenge">The Challenge</h3>
                    <div class="p-work-overview__description"> The challenge of the redesign of the OC Code
                      project was to improve the user-friendliness of an existing platform that
                      simplifies the process of obtaining and utilizing roofing code reports for specific
                      addresses, making it easier for
                      professionals in the roofing industry to navigate compliance and regulations. The goal was
                      to create a more
                      aesthetically pleasing and usable design, accessible on both web and native devices, with
                      the aim of increasing the
                      conversion of users from the Starter plan to the Pro plan.
                    </div>
                  </div>
                </div>
                <div id="the-solution">
                  <div class="p-work-overview__container">
                    <h3 class="p-work-overview--occ p-work-overview__title" id="the-solution">The Solution</h3>
                    <div class="p-work-overview__description">The design team at OneClick Code, in cooperation
                      with the business analyst, conducted a thorough competitor analysis to
                      understand the market and the types of products we needed to focus on. I played a key role
                      in this process, working on
                      information architecture, wireframing, and UI design. After implementing the design in code,
                      we used the HotJar program
                      to research user behavior and gain insights into how they were using the product. This
                      helped us to make informed
                      decisions and improve the overall user experience.
                    </div>
                    <img src="../../img/common/occ-02.png" alt="p-work-overview-image" class="p-work-overview__image"
                      data-scroll data-scroll-speed="0.7" data-scroll-direction="horizontal">
                  </div>
                </div>
                <div id="my-role">
                  <div class="p-work-overview__container">
                    <h3 class="p-work-overview--occ p-work-overview__title" id="my-role">My role in the project</h3>
                    <div class="p-work-overview__description">
                      As an integral part of the OneClick Code (OCC) design team, my primary focus was on UX research.
                      Starting in 2021, I
                      collaborated closely with the business analyst and the team of developers to establish user flows
                      for the feature that
                      allowed users to invite and accept team members. In addition to creating wireframes and designing
                      the UI for the native
                      and web app, as well as the mobile web app, I played a crucial role in conducting:
                      <ul>
                        <li>Stakeholder interview</li>
                        <li>User research</li>
                        <li>User flows</li>
                        <li>Information architecture</li>
                        <li>Wireframes</li>
                        <li>Visual Design</li>
                        <li>Design system</li>
                        <li>Usability testing</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div id="the-process">
                  <div class="p-work-overview__container">
                    <h3 class="p-work-overview--occ p-work-overview__title" id="the-process">The Process</h3>
                    <div class="p-work-overview__description">
                      <img src="../../img/common/occ-03.png" alt="p-work-overview-image" class="p-work-overview__image"
                        style="width: 80%">
                    </div>
                  </div>
                </div>
                <div id="stakeholder-interview">
                  <div class="p-work-overview__container">
                    <h3 class="p-work-overview--occ p-work-overview__title" id="stakeholder-interview">Stakeholder
                      Interview</h3>
                    <div class="p-work-overview__description">The discovery phase included stakeholder interviews
                      to understand client needs and goals, identify pain points and
                      gather information about the target audience. This helped us create a solution that
                      addresses key challenges, establish
                      clear communication with stakeholders and define the scope and goals of the project.
                    </div>
                  </div>
                </div>
                <div id="user-research">
                  <div class="p-work-overview__container">
                    <p class="p-work-overview__hat">Discovery</p>
                    <h3 class="p-work-overview--occ p-work-overview__title" id="user-research">User Research</h3>
                    <div class="p-work-overview__description">In our project, we utilized user research methods to
                      gain an in-depth understanding of our users and their needs.
                      Through one-on-one interviews, we collected information on users' goals, pain points, and
                      habits. This helped us to
                      recognize important areas for improvement and to comprehend how users interacted with the
                      product. Our research provided
                      a wealth of information which helped us make informed decisions on the design and
                      development of the product. This
                      ultimately resulted in creating a solution that met users' needs and resolved their main
                      challenges.
                    </div>
                  </div>
                </div>
                <div id="personas">
                  <div class="p-work-overview__container">
                    <p class="p-work-overview__hat">Define</p>
                    <h3 class="p-work-overview--occ p-work-overview__title" id="personas">Personas</h3>
                    <div class="p-work-overview__description">In our project, we utilized user research methods to
                      gain an in-depth understanding of our users and their needs.
                      Through one-on-one interviews, we collected information on users' goals, pain points, and
                      habits. This helped us to
                      recognize important areas for improvement and to comprehend how users interacted with the
                      product. Our research provided
                      a wealth of information which helped us make informed decisions on the design and
                      development of the product. This
                      ultimately resulted in creating a solution that met users' needs and resolved their main
                      challenges.
                    </div>
                    <div class="p-work-overview__personas--img">
                      <img src="../../img/common/occ-04.1.png" alt="p-work-overview-image"
                        class="p-work-overview__image img-1">
                      <img src="../../img/common/occ-04.2.png" alt="p-work-overview-image"
                        class="p-work-overview__image img-2">
                    </div>

                  </div>
                </div>
                <div id="customer-journey-map">
                  <div class="p-work-overview__container">
                    <p class="p-work-overview__hat">Define</p>
                    <h3 class="p-work-overview--occ p-work-overview__title" id="customer-journey-map">Customer
                      Journey Map</h3>
                    <div class="p-work-overview__description">In our project, we created a Customer Journey Map to
                      gain a better understanding of our users' experience with our
                      product. We mapped out the different stages of the customer journey, from initial awareness
                      to post-purchase evaluation,
                      and identified key touchpoints and pain points. Through this activity, we discovered areas
                      where the customer experience
                      could be improved and identified opportunities to enhance the customer journey. This helped
                      us to create a more
                      user-centered solution and improve overall satisfaction with our product.
                    </div>
                    <img src="../../img/common/occ-05.svg" alt="p-work-overview-image" class="p-work-overview__image">
                  </div>
                </div>
                <div id="information-architecture">
                  <div class="p-work-overview__container">
                    <p class="p-work-overview__hat">Idiate</p>
                    <h3 class="p-work-overview--occ p-work-overview__title" id="information-architecture">
                      Information Architecture</h3>
                    <div class="p-work-overview__description">In the OCC project, the Information Architecture
                      (IA) was an important aspect of the UX design process. Our team
                      conducted a thorough analysis of the existing IA and determined the key elements that needed
                      to be included in the new
                      design. The main goal of our IA work was to create a clear and intuitive structure that
                      would enable users to easily
                      navigate and find the information they needed.
                      To achieve this, we developed a hierarchical organization of the content and functionality,
                      breaking down the site into
                      categories, sections, and sub-pages. This helped us to create a clear and logical path for
                      users to follow as they moved
                      through the site. Additionally, we used clear and concise labeling to help users understand
                      the purpose of each section
                      and what they could expect to find there.
                      The IA work was also informed by our user research and testing, which allowed us to validate
                      our design decisions and
                      ensure that our IA was meeting the needs of our users. As a result, we were able to create a
                      highly effective and
                      intuitive IA that helped users achieve their goals quickly and easily.
                    </div>
                    <img src="../../img/common/occ-06.svg" alt="p-work-overview-image" class="--img">
                  </div>
                </div>
                <div id="user-flows">
                  <div class="p-work-overview__container">
                    <p class="p-work-overview__hat">Idiate</p>
                    <h3 class="p-work-overview--occ p-work-overview__title" id="user-flows">User Flows</h3>
                    <div class="p-work-overview__description"> The OCC project involved the creation of 40 user
                      flows, designed for both web and native applications. Our goal was to
                      create an intuitive and seamless experience for the users by mapping out their journey
                      through the platform, taking into
                      consideration their goals, pain points, and preferred method of communication. To achieve
                      this, our team worked closely
                      with the business analysts to understand the users' needs and developed detailed user flows
                      for each step of the
                      process. These user flows were tested with real users to validate our assumptions and ensure
                      that the platform was
                      user-friendly and efficient. The final product was a platform that not only met the users'
                      needs but also helped
                      professionals in the construction industry to save time, make money, and navigate compliance
                      and regulations with ease.
                    </div>
                    <img src="../../img/common/occ-07.svg" alt="p-work-overview-image" class="--img">
                  </div>
                </div>
                <div id="wireframes">
                  <div class="p-work-overview__container">
                    <h3 class="p-work-overview--occ p-work-overview__title" id="wireframes">Lo-Fi Wireframes</h3>
                    <div class="p-work-overview__description">In the OneClick Code project, our team created
                      wireframes for both native and web platforms, totaling about 250 screens.
                      These wireframes served as a blueprint for the design and development of the platform,
                      ensuring a seamless user
                      experience and efficient navigation. The wireframes were carefully crafted to meet the
                      unique needs of the roofing
                      industry and provide a solution to the challenges of obtaining accurate, up-to-date roofing
                      codes. The result was a
                      comprehensive, user-friendly platform that streamlined the process of finding the right
                      roofing codes and other
                      information for contractors, adjusters, and insurance providers.
                    </div>
                    <img src="../../img/common/occ-08.png" alt="p-work-overview-image" class="--img">
                  </div>
                </div>
                <div id="visual-design">
                  <div class="p-work-overview__container">
                    <h3 class="p-work-overview--occ p-work-overview__title" id="visual-design">Visual Design</h3>
                    <div class="p-work-overview__description">
                      <div class="p-owerview__visual-occ--img">
                        <img src="../../img/common/occ-09.1.png" alt="p-work-overview-image"
                          class="p-work-overview__image img-8_1">
                        <img src="../../img/common/occ-09.2.png" alt="p-work-overview-image"
                          class="p-work-overview__image img-8_2">
                      </div>
                      <div class="p-work-overview__description-section">
                        <nav class="p-work-overview__app--nav">
                          <ul class="p-work-overview__app--tabs">
                            <li class="p-work-overview__app--item"><button class="tabs__btn tab-content-active"
                                data-path="one">
                                <div class="btn-reset">1.</div>
                                <div class="btn-reset--2">Web app</div>


                              </button>
                            </li>
                            <li class="p-work-overview__app--item"><button class="tabs__btn" data-path="two">
                                <div class="btn-reset">2.</div>
                                <div class="btn-reset--2 btn-native-app">Native app</div>
                              </button>
                            </li>
                          </ul>
                        </nav>
                        <div class="tab-content tab-content-active" data-target="one">
                          <div class="tab-content__item">
                            <div id="tab-one" class="tabs__item--description tab-content-active"></div>
                            <img src="../../img/common/occ-10.png" alt="occ-web-app" class="tab__img img-10">
                            <img src="../../img/common/occ-10.1.png" alt="occ-web-ap" class="tab__img img-10-1">
                            <img src="../../img/common/occ-10.2.png" alt="occ-web-ap" class="tab__img img-10-2">
                          </div>
                        </div>
                        <div class="tab-content " data-target="two">

                          <div class="tab-content__item">
                            <div id="tab-two" class="tabs__item--description tabs__item--description-two"></div>
                            <!-- <div class="p-single-works__video-wrapper img-10-3"> -->
                            <video autoplay muted loop playsinline data-scroll data-scroll-speed="-1"
                              class="tab__img img-10-3">
                              <!-- width="1632" height="1020"  -->
                              <source src="../../img/video/OCC showreel.mp4" type="video/mp4">
                            </video>

                            <img src="../../img/common/occ-10.4.png" alt="occ-native-ap" class="tab__img img-10-4">
                            <img src="../../img/common/occ-10.3.png" alt="occ-native-ap" class="tab__img img-10-5">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="results-and-takeaways">
                  <div class="p-work-overview__container">
                    <h3 class="p-work-overview--occ p-work-overview__title" id="results-and-takeaways">Results and
                      takeaways</h3>
                    <div class="p-work-overview__description">The OCC project aimed to create a user-friendly
                      platform for the roofing industry. The team successfully developed a
                      design that simplifies the process of obtaining and utilizing roofing code reports, making
                      compliance and regulations
                      easier to navigate. The platform was well-received by users and achieved its goal of
                      increasing conversions from Starter
                      to Pro plans.
                      <h4>Key takeaways from this project are:</h4>
                      <ul>
                        <li>User testing doesn't end after development. Design
                          is a constant iteration of improving the experience for the end user.
                          Always find ways to collect and listen to your user's feedback.
                        </li>
                        <li>Involve engineering upfront. This helps to reduce any rework later on as an understanding
                          of the technical limitations
                          upfront will help to inform your design strategy.</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>


          <%# 制作実績導線 %>
            <div class="p-works-connect" style="transform: translate(0px, 0px);">
              <a href="/prorogetic/" class="p-works-connect__link">
                <picture class="p-works-connect__bg">
                  <source srcset="/img/common/thumbnail-protogetic.png" type="image/png" />
                  <img src="/img/common/thumbnail-protogetic.png" width="770" height="781" alt="Protogetic"
                    loading="lazy">
                </picture>
                <p class="p-works-connect__text-wrapper">
                  <span class="p-works-connect__text" data-text="Protogetic">
                    Prev
                  </span>
                </p>
              </a>
              <a href="/amity/" class="p-works-connect__link">
                <picture class="p-works-connect__bg">
                  <source srcset="/img/common/thumbnail-amity.png" type="image/png" />
                  <img src="/img/common/thumbnail-amity.png" width="770" height="781" alt="Amity" loading="lazy">
                </picture>
                <p class="p-works-connect__text-wrapper">
                  <span class="p-works-connect__text" data-text="Amity">
                    Next
                  </span>
                </p>
              </a>
            </div>
        </div>
        <%# / 制作実績導線 %>
      </main>



      <%- include('../common/_footer', {pageId:pageId }) %>