<% let pageId='amity' ; %>

  <%- include('../common/_header', {pageId:pageId }) %>

    <% console.log(jsonData) %>
      <main id="js-amity" class="l-single-works p-single-works p-single-works--projects" data-barba="container"
        data-barba-namespace="single" data-bg="#FF5733">
        <picture class="p-single-works__mockup p-single-works__mockup--sp " data-scroll data-scroll-speed="-1"
          data-scroll-delay="0.1" data-scroll-direction="vertical">
          <img src="/img/common/main-amity.png" class="p-single-works__mockup-img p-single-works__img--proj"
            alt="main-amity" width="70" height="141" decoding="async" />
        </picture>

        <div class="p-single-works--main">
          <div class="p-single-works__wrap" style="transform: translate(0px, 0px)" loading="lazy" ;>
            <div class="p-single-works__intro">
              <div class="p-single-works__project--head">
                <h2 class="p-single-works__name">AMITY</h2>
                <p class="p-single-works__description">Amity provides remote control of stoves in living facilities for
                  elderly
                  <br />
                  and disabled individuals.
                </p>


              </div>
              <div class="p-single-works__project--foot">
                <div class="project-timeline">
                  <div class="p-single-works__title">Project Timeline</div>
                  <div class="p-single-works__subtitlle">Oct
                    2022 - Jan 2023</div>
                </div>
                <div class="p-single-works__main-column">
                  <div>
                    <div class="p-single-works__title">My Role</div>
                    <div class="p-single-works__subtitlle">Ui/Ux
                      Design, UX Research</div>
                  </div>
                  <div>
                    <div class="p-single-works__title">Client</div>
                    <div class="p-single-works__subtitlle">LaSoft</div>
                  </div>
                  <div>
                    <div class="p-single-works__title">Country</div>
                    <div class="p-single-works__subtitlle">USA
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <section class="p-single-works__general">
            <div class="p-single-works__context wrapper">

              <div class="p-work-owerview__sidebar-menu sidebar" data-animation="default" data-duration="400"
                data-easing="ease" role="banner" data-scroll data-scroll-sticky data-scroll-target="#main-content">
                <div class="p-work-owerview__nav">
                  <div class="p-work-owerview__nav-item ">
                    <img src="../../img/svg/occ/01.svg" alt="nav-icon" loading="lazy" class="nav-icon">
                    <a class="p-work-owerview__item p--current" href="#project-overview">Project Overview</a>
                  </div>
                  <div class="p-work-owerview__nav-item">
                    <img src="../../img/svg/occ/02.svg" alt="nav-icon" loading="lazy" class="nav-icon">
                    <a class="p-work-owerview__item" href="#the-challenge">The Challenge</a>
                  </div>
                  <div class="p-work-owerview__nav-item">
                    <img src="../../img/svg/occ/03.svg" alt="nav-icon" loading="lazy" class="nav-icon">
                    <a class="p-work-owerview__item" href="#the-solution">The Solution</a>
                  </div>
                  <div class="p-work-owerview__nav-item">
                    <img src="../../img/svg/occ/04.svg" alt="nav-icon" loading="lazy" class="nav-icon">
                    <a class="p-work-owerview__item" href="#my-role">My Role</a>
                  </div>
                  <div class="p-work-owerview__nav-item">
                    <img src="../../img/svg/occ/05.svg" alt="nav-icon" loading="lazy" class="nav-icon">
                    <a class="p-work-owerview__item" href="#the-process">The Process</a>
                  </div>
                  <div class="p-work-owerview__nav-item">
                    <img src="../../img/svg/occ/11.svg" alt="nav-icon" loading="lazy" class="nav-icon">
                    <a class="p-work-owerview__item" href="#information-architecture">Information Architecture
                    </a>
                  </div>
                  <div class="p-work-owerview__nav-item">
                    <img src="../../img/svg/occ/14.svg" alt="nav-icon" loading="lazy" class="nav-icon">
                    <a class="p-work-owerview__item" href="#wireframes">Wireframes</a>
                  </div>
                  <div class="p-work-owerview__nav-item">
                    <img src="../../img/svg/occ/15.svg" alt="nav-icon" loading="lazy" class="nav-icon">
                    <a class="p-work-owerview__item" href="#visual-design">Visual Design</a>
                  </div>
                  <div class="p-work-owerview__nav-item">
                    <img src="../../img/svg/occ/17.svg" alt="nav-icon" loading="lazy" class="nav-icon">
                    <a class="p-work-owerview__item" href="#results-and-takeaways">Results and Takeaways</a>
                  </div>
                </div>
              </div>



              <div class="p-overview__nav-sections content" id="main-content" data-scroll-container>
                <div id="project-overview">
                  <div class="p-work-overview__container">
                    <h3 class="p-work-overview--amity p-work-overview__title" id="project-overview">Project <span
                        style="color: #000;">Overview</span>


                    </h3>
                    <div class="p-work-overview__description">Amity is a B2B platform that provides remote control of
                      stoves in living facilities for elderly and disabled
                      individuals. Maintenance staff can monitor and adjust stove usage through the Amity web platform,
                      while residents can
                      control their own stoves through the Ome app. Ensuring safety and ease of living for all.
                    </div>
                    <video autoplay muted loop playsinline width="955" height="716" data-scroll data-scroll-speed="-1">
                      <!-- width="1632" height="1020"  -->
                      <source src="../../img/video/Amity showreel.mp4" type="video/mp4">
                    </video>
                  </div>
                </div>
                <div id="the-challenge">
                  <div class="p-work-overview__container">
                    <h3 class="p-work-overview--amity p-work-overview__title" id="the-challenge">The Challenge</h3>
                    <div class="p-work-overview__description"> The challenge was to design a complex B2B platform for
                      remote control and monitoring of stoves in living facilities for
                      elderly and disabled individuals. The platform needed to allow for easy control of stoves by both
                      residents through the
                      app and maintenance staff, while balancing the need for safety, convenience, and independence. The
                      key objective was to
                      provide a solution that allows users to switch off, block, and monitor the status of stoves
                      remotely.
                    </div>
                  </div>
                </div>
                <div id="the-solution">
                  <div class="p-work-overview__container">
                    <h3 class="p-work-overview--amity p-work-overview__title" id="the-solution">The Solution</h3>
                    <div class="p-work-overview__description">To meet the client's request, a comprehensive B2B
                      platform, Amity, was designed to control stoves in living facilities
                      for elderly and disabled individuals. The design process involved a thorough specification
                      discovery, user flow
                      analysis, information architecture, wireframing, and visual design (UI) to ensure an intuitive and
                      user-friendly
                      solution. The platform, connected to the Ome app, allows residents to control their own stoves,
                      while maintenance staff
                      can monitor and adjust stove usage through the Amity web platform. The end result is a solution
                      that strikes a balance
                      between safety, convenience, and independence for all users, providing a comfortable and secure
                      living environment for
                      elderly and disabled individuals in these facilities.
                    </div>
                    <video autoplay muted loop playsinline width="955" height="716" data-scroll data-scroll-speed="-1">
                      <!-- width="1632" height="1020"  -->
                      <source src="../../img/video/Sollution presentation.mp4" type="video/mp4">
                    </video>
                  </div>
                </div>
                <div id="my-role">
                  <div class="p-work-overview__container">
                    <h3 class="p-work-overview--amity p-work-overview__title" id="my-role"><span style="color: #000;">My
                        role in</span> the project</h3>
                    <div class="p-work-overview__description">
                      I was responsible for designing the Amity platform from the ground up. I led the specification
                      discovery process,
                      analyzed user flows, and created the information architecture to ensure the platform met the needs
                      of all stakeholders.
                      I designed wireframes and the visual user interface (UI), focusing on usability and user
                      experience to create an
                      intuitive and easy-to-use solution. Throughout the project, I worked closely with the development
                      team to ensure the
                      platform was built according to the design specifications and met the requirements of the client.
                      My attention to detail
                      and dedication to creating a high-quality product resulted in a platform that effectively balances
                      safety, convenience,
                      and independence for all users. During the Project I was working on:

                      <ul>
                        <li>Information architecture</li>
                        <li> User flows</li>
                        <li> Wireframes</li>
                        <li> Ui design</li>
                        <li> Interactive prototypes</li>
                        <li> Design system</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div id="the-process">
                  <div class="p-work-overview__container">
                    <h3 class="p-work-overview--amity p-work-overview__title" id="the-process">The Process</h3>
                    <div class="p-work-overview__description">
                      <img src="../../img/common/amity-03.png" alt="p-work-overview-image"
                        class="p-work-overview__image">
                    </div>
                  </div>
                </div>
                <div id="information-architecture">
                  <div class="p-work-overview__container">
                    <p class="p-work-overview__hat">Idiate</p>
                    <h3 class="p-work-overview--amity p-work-overview__title" id="information-architecture">
                      Information Architecture</h3>
                    <div class="p-work-overview__description">As the lead designer, I was responsible for developing the
                      information architecture (IA) of the platform. The IA process
                      involved defining the structure and relationships between different sections of the platform, to
                      ensure an intuitive and
                      easy-to-use experience for all stakeholders. This involved creating a sitemap and information
                      architecture diagram that
                      reflected the platform's structure and user journey.
                    </div>
                    <img src="../../img/common/amity-04.svg" alt="p-work-overview-image" class="p-work-overview__image">
                  </div>
                </div>
                <div id="wireframes">
                  <div class="p-work-overview__container">
                    <h3 class="p-work-overview--amity p-work-overview__title" id="wireframes"> Wireframes</h3>
                    <div class="p-work-overview__description">During the wireframing process, I collaborated closely
                      with the client to ensure their requirements were met. The final
                      wireframes were based on the project specifications and showcased the placement of elements,
                      interactions, and user
                      flows.
                      The successful wireframing process provided a solid foundation for the platform's development and
                      set the stage for a
                      user-friendly and intuitive design.
                    </div>
                    <img src="../../img/common/amity-05.png" alt="p-work-overview-image" class="p-work-overview__image">
                  </div>
                </div>
                <div id="visual-design">
                  <div class="p-work-overview__container">
                    <p class="p-work-overview__hat">Visual Design</p>
                    <div class="p-work-overview__container">
                      <h3 class="p-work-overview--amity p-work-overview__title" id="visual-design">SIGN <span
                          style="color: #000">IN/UP</span>
                      </h3>
                      <img src="../../img/common/amity-06.png" alt="p-work-overview-image"
                        class="p-work-overview__image">
                    </div>
                    <div class="p-work-overview__container">
                      <h3 class="p-work-overview--amity p-work-overview__title"> <span style="color: #000">COMMUNITY
                        </span>
                        MANAGEMENT
                      </h3>

                      <img src="../../img/common/amity-07.png" alt="p-work-overview-image"
                        class="p-work-overview__image">
                    </div>
                    <div class="p-work-overview__container">
                      <h3 class="p-work-overview--amity p-work-overview__title">MEMBERS <span style="color: #000">
                          MANAGEMENT </span>
                      </h3>

                      <img src="../../img/common/amity-08.png" alt="p-work-overview-image"
                        class="p-work-overview__image">
                    </div>
                    <div class="p-work-overview__container">
                      <h3 class="p-work-overview--amity p-work-overview__title">USER <span style="color: #000">
                          PROFILE </span>
                      </h3>

                      <img src="../../img/common/amity-09.png" alt="p-work-overview-image"
                        class="p-work-overview__image">

                    </div>



                  </div>
                </div>
                <div id="results-and-takeaways">
                  <div class="p-work-overview__container">
                    <h3 class="p-work-overview--amity p-work-overview__title" id="results-and-takeaways">Results and
                      <span style="color: #000;">takeaways</span>
                    </h3>
                    <div class="p-work-overview__description">
                      <p>The Amity project was a success, resulting in the
                        successful launch of the MVP version of the platform. Our team worked
                        diligently to bring the client's vision to life, and the result is a platform that is both
                        functional and user-friendly.
                        The platform offers robust features and capabilities, delivering on the needs of the end-users
                        and
                        providing a seamless
                        experience for maintenance staff.</p>
                      <p> One of the key takeaways from this project is the importance of collaboration and open
                        communication with the client. By
                        working closely with the client and ensuring their input was incorporated into the design, we
                        were
                        able to deliver a
                        product that exceeded their expectations. The user-centered design approach, which prioritized
                        the
                        needs of the
                        end-users, also played a critical role in the success of the project.</p>
                      <p>In conclusion, the Amity project was a great success and a testament to the power of teamwork
                        and
                        user-centered design.
                        The platform is now live and making a positive impact on the lives of elderly people and people
                        with some disorders. We
                        are proud to have been a part of this project and are excited to see what the future holds for
                        Amity.</p>
                      <h4>Key takeaways from this project are:</h4>
                      <div class="p-work-overview__description"></div>
                      <ul>
                        <li>User testing doesn't end after development. Design
                          is a constant iteration of improving the experience for the end user.
                          Always find ways to collect and listen to your user's feedback.
                        </li>
                        <li>Involve engineering upfront. This helps to reduce any rework later on as an understanding
                          of the technical limitations
                          upfront will help to inform your design strategy.</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>


          <%# 制作実績導線 %>
            <div class="p-works-connect" style="transform: translate(0px, 0px);">
              <a href="/occ/" class="p-works-connect__link">
                <picture class="p-works-connect__bg">
                  <source srcset="/img/common/thumbnail-occ.png" type="image/png" />
                  <img src="/img/common/thumbnail-occ.png" width="770" height="781" alt="OCC" loading="lazy">
                </picture>
                <p class="p-works-connect__text-wrapper">
                  <span class="p-works-connect__text" data-text="OCC">
                    Prev
                  </span>
                </p>
              </a>
              <a href="/kamsa/" class="p-works-connect__link">
                <picture class="p-works-connect__bg">
                  <source srcset="/img/common/thumbnail-kamsa.png" type="image/png" />
                  <img src="/img/common/thumbnail-kamsa.png" width="770" height="781" alt="Kamsa" loading="lazy">
                </picture>
                <p class="p-works-connect__text-wrapper">
                  <span class="p-works-connect__text" data-text="Kamsa">
                    Next
                  </span>
                </p>
              </a>
            </div>
            <%# / 制作実績導線 %>
      </main>

      <%- include('../common/_footer', {pageId:pageId }) %>